* {
  box-sizing: border-box;
}

body {
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 400px;
}

.square{
	width: 18px;
	height: 18px;
	background-color: #1d1d1d;
	margin: 2px;
	box-shadow: 0 0 2px #000;
	transition: 1s ease;
}

.square + .square{
	margin-left: 2px;
}

.square:hover{
	transition-duration: 0s;
}

.tools{
	border: 1px solid grey;
	border-radius: 10px;
	margin-right: 20px;
}

.tools__item{
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 10px;
}

.tools__item[data-tools-color="red"]{
	background-color: red;
}

.tools__item[data-tools-color="#000"]{
	background-color: #000;
}

.tools__item[data-tools-color="#fff"]{
	background-color: #fff;
}

.tools__item[data-tools-color="#1d1d1d"]{
	background-color: #1d1d1d;
}